version: '3.8'

services:
  db:
    image: postgres:16.1
    volumes:
      - ./db:/var/lib/postgresql/data
    container_name: shareit-db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_PASSWORD=123456
      - POSTGRES_USER=shareit
      - POSTGRES_DB=shareit
      - PGDATA=/var/lib/postgresql/data/pgdata

    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10
  shareit-server:
    build: ./server
    container_name: shareit-server
    image: shareit-server
    volumes:
      - ./log/shareit-server:/var/log/shareit-server
    ports:
      - "9090:9090"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD=123456
      - POSTGRES_USER=shareit
    depends_on:
      - db
  shareit-gateway:
    build: ./gateway
    container_name: shareit-gateway
    image: shareit-gateway
    volumes:
      - ./log/shareit-gateway:/var/log/shareit-gateway
    ports:
      - "8080:8080"
    depends_on:
      - shareit-server
    environment:
      - SERVER_HOST=shareit-server

